AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=
AWS_REGION=us-east-1

# IMPORTANT: Marengo async needs base model ID, Pegasus sync needs inference profile.
BEDROCK_MARENGO_MODEL_ID=twelvelabs.marengo-embed-3-0-v1:0
BEDROCK_PEGASUS_MODEL_ID=us.twelvelabs.pegasus-1-2-v1:0
S3_BUCKET=